fastapi
uvicorn[standard]
pydantic
pydantic-settings
phonenumbers
httpx
python-dotenv
network-as-code
qrcode[pil]
Pillow 
slowapi # for endpoints rate limit security
pytest
pytest-asyncio
scikit-learn
joblib
